#product{
  
  background-color: #f4f4f4;
}
#product h2{
  line-height: 5;
  color: #666;
}
#product ul.list{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  box-sizing: border-box;
  /*! padding: 20px; */
  /*! height: 900px; */
  width: 1063px;
}
#product ul.list li{
  border: 1px solid;
  width: 260px;
  height: 260px;
  position: relative;
}
/* #product ul.list li::before{
  content: "";
  position: absolute;
  opacity: 0;
  background: #0445f4;
  background: rgba(4, 69, 244, .85);
  transition: all .2s ease;
  width: 260px;
  height: 260px;
} */
#product ul.list li:hover::before{
  opacity: 1;
}
#product ul.list li:nth-child(2)::before{
  height: 530px;
}
#product ul.list li:nth-child(6)::before , #product ul.list li:nth-child(8)::before{
  width: 530px;
}
#product ul.list li p{
  
}
/* #product ul.list li p{
  position: absolute;
  opacity: 0;
  background: url(https://www.hitejinro.com/assets/images/main/btn_hotclick_more.png) no-repeat 50% 100%;
  box-sizing: border-box;
  transition: opacity .3s ease;
  transition-delay: 0s;
  padding-bottom: 48px;
  color: #fff;
  font-size: 14px;
  width: 100%;
  z-index: 10;
  filter: alpha(opacity=0);
  box-sizing: border-box;
  transition: opacity .3s ease;
  transition-delay: 0s;
} */
/* #product ul.list li:hover p{
  opacity: 1;
  transition-delay: .15s;
  filter: alpha(opacity=100);
} */
#product ul.list li a{  
  font-size: 0;
  background: url(https://www.hitejinro.com/assets/images/main/btn_hotclick_more.png) no-repeat 50% 100%;
}
#product ul.list li:nth-child(1){
  order: 1;
  /*! background-image: url(../img/1.jpg); */
}
#product ul.list li:nth-child(2){  
  order: 2;
  grid-row: 1 / span 2;
  /*! background-image: url(../img/2.jpg); */
  height: 530px;
  grid-column: 2;
}
#product ul.list li:nth-child(3){  
  order: 3;
  /*! background-image: url(../img/3.jpg); */
}
#product ul.list li:nth-child(4){ 
  order: 4;
  /*! background-image: url(../img/4.jpg); */
}
#product ul.list li:nth-child(5){ 
  order: 5;
  /*! background-image: url(../img/5.jpg); */
}
#product ul.list li:nth-child(6){ 
  grid-column: 3 / span 2;
  order: 6;
  /*! background-image: url(../img/6.jpg); */
  width: 530px;
}
#product ul.list li:nth-child(7){  
  order: 7;
  /*! background-image: url(../img/7.jpg); */
}
#product ul.list li:nth-child(8){  
  grid-column: 2 / span 2;
  order: 8;
  /*! background-image: url(../img/8.jpg); */
  width: 530px;
}
#product ul.list li:nth-child(9){  
  order: 9;
  /*! background-image: url(../img/9.jpg); */
}
#product ul.list li figure{
  
}
#product ul.list li figure img{
  vertical-align: top;
}
#product ul.list li h3{
  color: #fff;
  position: absolute; 
  top: 12px;
  left: 13px;
  font-size: 30px;
}
#product ul.list li .wrapText{
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,255,0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: none;
}
#product ul.list li .wrapText>*{
  
}
#product ul.list li .wrapText h3{
  
}
#product ul.list li .wrapText p{
  
}
#product ul.list li .wrapText a{
  
}
/* sns */
#sns h2{
  line-height: 5;
  color: #666;
}
.snsani li a{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 20px;
}
.snsani li a::before{
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  background-color: #ccc;
  grid-row: 1 / span 2;
}
.snsani li a h3{
  height: 36px;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: .025em;
  font-weight: bold;
}
.snsani li a p{
  overflow: hidden;
  position: relative;
  max-height: 60px;
  color: #777;
  line-height: 20px;
  word-wrap: break-word;
  word-break: keep-all;
}
.snsani li.sns1 a::before{
  background-image: url(https://file.hitejinro.com/hitejinro2016/upFiles/social/20230823_36950360.png);
}
.snsani li.sns2 a::before{
  background-image: url(https://file.hitejinro.com/hitejinro2016/upFiles/social/20230817_25094620.png);
}
.snsani li.sns3 a::before{
  background-image: url(https://file.hitejinro.com/hitejinro2016/upFiles/social/20230823_33059030.png);
}
.snsani li.sns4 a::before{
  background-image: url(https://file.hitejinro.com/hitejinro2016/upFiles/social/20230823_14596573.png);
}
.snsani li.sns5 a::before{
  background-image: url(https://file.hitejinro.com/hitejinro2016/upFiles/social/20230823_12458986.png);
}
.snsani li.sns6 a::before{
  background-image: url(https://file.hitejinro.com/hitejinro2016/upFiles/social/20230823_87751955.png);
}
.snsani li.sns7 a::before{
  background-image: url(https://file.hitejinro.com/hitejinro2016/upFiles/social/20230817_18181371.png);
}
.snsani li.sns8 a::before{
  background-image: url(https://file.hitejinro.com/hitejinro2016/upFiles/social/20230817_20911677.jpg);
}
.snsani li.sns9 a::before{
  background-image: url(https://file.hitejinro.com/hitejinro2016/upFiles/social/20230803_49242840.png);
}
